html {
  display: block;
  color: aqua;
}

.html {
  display: block;
  color: aliceblue;
  height: calc(100% + 12px);

  &--fresh {
    @include mix-master();
  }
}

#html {
  display: block;
  color: bisque;
}

@media screen and (max-width: 800px) {
  html {
    display: inline;
    color: #f00;
  }
}

@mixin mix-master() {
  background-color: indigo;
}
