html {
  display: block;
  color: aqua;
}

.html {
  display: block;
  color: aliceblue;
}

#html {
  display: block;
  color: bisque;
}

@media screen and (max-width: 800px) {
  html {
    display: inline;
    color: red;
  }
}